<% include partials/header %>

<header>ChillOut</header>
<center>
<div class= "box" style="padding-top:0px;">
  <br /><br />
  <a href="/createHotel"><button id="createH">Create Hotel</button></a>
  <a href="/createRoom"><button id="createR">Create Room</button></a>
  <a href="/checkReservations"><button id="checkRes">Check for current reservations</button></a><br /><br />


  <form action="/checkInOut" method="post" style="background-color: lightblue; padding: 10px; border-radius: 10px">
    <label for="checkDate">Who will check in/out at</label>
    <input type="date" name="date" required><br />
    <label  for="name">Hotel name</label><br>
    <select name="name" required>
      <% for(let i=0; i<hotels.length; i++){ %>
        <option value="<%=hotels[i].name%>"><%=hotels[i].name%></option>
      <% } %>
    </select><br />
    <button type="submit">Check</button>
  </form>

  <br /><br />

  <form action="/viewHReservations" method="post" style="background-color: #e9e9e9; padding: 10px; border-radius: 10px">
    <h4>Browse Reservations</h4><br />
    <label for="fromDate">From</label>
    <input type="date" name="fromDate">
    <br />
    <label for="toDate">To</label>&nbsp&nbsp&nbsp
    <input type="date" name="toDate">
    <br />
    <label  for="name">Hotel name</label><br>
    <select name="name" required>
      <% for(let i=0; i<hotels.length; i++){ %>
        <option value="<%=hotels[i].name%>"><%=hotels[i].name%></option>
      <% } %>
    </select><br />
    <button type="submit">Check</button>
  </form>
  <br /><br />

  <form action="/checkin" method="post" style="background-color: lightblue; padding: 10px; border-radius: 10px">
    <label for="email">Customer email</label><br />
    <input type="text" name="email"><br />
    <label for="number">Room number</label>
    <input type="number" name="room" min="1" max="99"><br />
    <label for="name">Hotel name</label>
    <select name="name" required>
      <% for(let i=0; i<hotels.length; i++){ %>
        <option value="<%=hotels[i].name%>"><%=hotels[i].name%></option>
      <% } %>
    </select><br />
    <button type="submit">CheckIn</button>
  </form>
  <br /><br />

  <form action="/blacklist" method="post" style="background-color: #e9e9e9; padding: 10px; border-radius: 10px">
    <label for="email">Customer email</label><br />
    <input type="text" name="email"><br />
    <button type="submit">Blacklist</button>
  </form>
  <p style="visibility:hidden;" id="cookieEmail"><%= email %></p>

</div>
</center>

<% include partials/footer %>

<script type="text/javascript">
  $(document).ready(()=>{
    document.cookie = `email = ${$("#cookieEmail").text()}; path=/`;
  })
</script>

<!--
Owner can:
  -Register and Login
  -Create Hotel
  -Create Room after approval
  -Approve reservation or cancel it within 30 seconds
  -View reservations between any times
  -Who check in/out at any time
  -Check in customer
  -Blacklist customer
  -
-->
