<% include ../partials/header %>

<header>ChillOut</header>
<center>
  <br /><br />
  <table>
    <tr>
      <th>Hotel name</th>
      <th>Room number</th>
      <th>From</th>
      <th>To</th>
      <th>Rate</th>
    </tr>
    <% for(let i=0; i<data.length; i++){ %>
      <tr name="<%= data[i].Hname%>">
        <td><%= data[i].Hname %></td>
        <td><%= data[i].roomNo %></td>
        <td><%= data[i].date_from %></td>
        <td><%= data[i].date_to %></td>
        <td><button type="button" id="a<%= i %>" style="background-color:limeGreen">Rate</button></td>
      </tr>
    <% } %>
  </table>
</center>

<% include ../partials/footer %>

<script type="text/javascript">
  $("button").on("click", e=>{
    let btnId = e.target.id;
    let rowNum = +(btnId.substring(1));
    let row = $("tr:has(td)")[rowNum];
    let Hname = $(row).attr("name");
    let rating = prompt("Enter rating please (0-5)");
    if(rating>5 || rating<0){alert("Wrong rating .. try again!"); return;}

      $.ajax({
        method: "POST",
        url: "/rate",
        data: {"name": Hname, "rating": rating}
      }).done(function( data ) {
        if(data.message){alert(data.message);}
      });

  })
</script>
